<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- 기존 styles.css 파일을 사용 -->
</head>
<body>

    <!-- Login Form -->
    <div class="login-container">
        <img src="/images/logo.png" style="height: 50%; width:50%;">
        <h2>로그인</h2>
        <form id="login-form" method="POST" th:action="@{/login}">
            <div th:if="${param.error}">
                <div style="color: white; background-color: #8a3b3b">
                    사용자ID 또는 비밀번호를 확인해 주세요.
                </div>
            </div>
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" id="email" name="username" placeholder="이메일을 입력하세요" required>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" required>
            </div>
            <button type="submit">로그인</button>
        </form>

        <p class="signup-link">아직 계정이 없으신가요? <a href="/signup">회원가입</a></p>
    </div>


</body>
</html>
